[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]



[requires]

python_version = "3.5"


[packages]

pyudemy = "*"
telepot = "*"
python-decouple = "*"
python-telegram-bot = "*"
django = "==1.9"
dj-database-url = "*"
